.hero {
  display: flex;
  justify-content: space-between;

  .left-side {
    padding: 2rem;
    padding-top: 1.3rem;
    flex: 3;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    .the-best-ad {
      margin-top: 4rem;
      background-color: #343d42;
      border-radius: 4rem;
      width: fit-content;
      padding: 1.3rem 0.8rem;

      text-transform: uppercase;
      color: white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      .slider {
        position: absolute;
        background-color: var(--orange);
        width: 5.4rem;
        height: 80%;
        left: 8px;
        border-radius: 3rem;
        z-index: 1;
      }

      & > span {
        z-index: 2;
      }
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
  }
  &-description {
    font-size: 1rem;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
    color: white;
  }
}

.figures {
  display: flex;
  gap: 2rem;

  & > div {
    display: flex;
    flex-direction: column;

    & > span:nth-of-type(1) {
      font-size: 2rem;
      color: white;
    }
    & > span:nth-of-type(2) {
      color: var(--gray);
      text-transform: uppercase;
    }
  }
}

.hero-buttons {
  display: flex;
  gap: 2rem;
  font-weight: normal;

  & > :nth-child(1) {
    color: white;
    background: var(--orange);
    width: 8rem;
  }

  & > :nth-child(2) {
    width: 8rem;
    color: white;
    background-color: transparent;
    border: 2px solid var(--orange);
  }
}

.right-side {
  flex: 1;
  position: relative;
  background-color: var(--orange);
  z-index: -1;

  & > .btn {
    position: absolute;
    right: 5rem;
    top: 6rem;
    color: black;
  }

  .hero_image {
    position: absolute;
    top: 10rem;
    right: 8rem;
    width: 23rem;
    z-index: 1;

    &_back {
      position: absolute;
      top: 4rem;
      right: 20rem;
      width: 11rem;
    }
  }

  .calories {
    color: white;
    display: flex;
    gap: 2rem;
    background: var(--caloryCard);
    border-radius: 0.5rem;
    width: fit-content;

    margin: 2rem auto;
    padding: 1rem;
  }
}
