.footer-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.footer-container > hr {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10%;
}

.social-media {
  display: flex;
  gap: 4rem;
}

.social-media > a > img {
  opacity: 0.8;
  width: 2rem;
  transition: all 300ms ease-in-out;
}

.social-media > a > img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.footer-logo > img {
  opacity: 0.8;
  width: 11rem;
}
